PORT=4000
CLIENT_ORIGIN=http://localhost:5173
DATA_FILE=./data/projects.json
UPLOAD_DIR=./uploads
USERS_FILE=./data/users.json
JWT_SECRET=change-me-before-production
DEFAULT_ADMIN_NAME=BL Admin
DEFAULT_ADMIN_EMAIL=BLConstruction1admin@gmail.com
DEFAULT_ADMIN_PASSWORD=bladminc@123
